.navbar{
    background-color: black;
    border-radius: 30px;
}
.navbar li{
    float:left;
    list-style: none; 
    margin: 13px 20px;
}
.navbar ul{
    overflow: auto;
}
.navbar li a{
    padding: 3px 3px;
    font-size: 18px;
    letter-spacing: 1.5px;
    font-family: 'Noto Sans Lao Looped', sans-serif;
    text-decoration: none;
    color: white;
}
.navbar input{
    border: 2px solid black;
    border-radius: 14px;
    padding: 7px 38px;
    width: 129px;
}
.search{
    float: right;
    color: white;
    padding: 12px 75px;
}
